@model theme.Models.user
@{
    ViewBag.Title = "Edit";
}

<h2>Create</h2>
@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.id)
    @Html.LabelFor(m => m.name)
    @Html.TextBoxFor(m => m.name)
    @Html.ValidationMessageFor(m => m.name)
   <input type="submit" value="Edit" />
}

